@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.row {
    @apply flex;
}

.col {
    @apply flex flex-col;
}

.drape {
    @apply flex flex-col items-center;
}

.center {
    @apply flex justify-center items-center;
}
